.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html,
body {
  background: #333;
}

.buttonGroup {
  left: calc(50vw - 100px);
  bottom: 20px;
  position: absolute;
}

pre {
  color: grey;
}

button {
  background: orange;
  display: inline-block;
  box-shadow: none;
  border: none;
  padding: .25em 1em;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
}
